// @import "variables";

$diameter: 60px;
$radius: $diameter / 2;

.btn-square {
  @extend .btn-default;
  height: 8em;
}

.teal {
  border-color: $teal !important;
}

.btn-circle {
  //@extend .btn-default;
  background-color: #fff;
  border-radius: $diameter/2 !important;
  height: $diameter;
  width: $diameter;
  span {
    font-size: 1.3em;
  }
}

.btn-circle:hover:focus {
  background-color: #e6e6e6;
}



.mobile {
  position: fixed;
  bottom: 3em;
  right: 2em;

    #star{
      position: fixed;
      bottom: 3em;
      right: 2em;
      background-color: $teal;
      color: white;
    }

    #addTransaction {
      position: relative;
      top: 3em;
      left: calc(100% -(60px/2) - 2em);
    }

    #budget {
      position: relative;
      right: calc(100% + 2em);
      top: 4.4em;
    }

    #tranType {
      position: relative;
      top: -5.3em;
      right: calc(100% + 2em);
    }

}

.btn-margin-block {
  display: block;
  margin-block-end: 10px;
  margin-block-start: 10px;
  width: 100%;
}

.chart-container {
  height: 70vh;
  margin: auto;
  position: relative;
}
