@import 'variables';

footer {
  @media (min-width: 768px) {
    font-size: 1em;
    position: absolute;
    width: 100%;
  }
  @media (max-width: 767px) {
    bottom: 0.5em;
    font-size: 0.8em;
    position: absolute;
    width: 100%;
  }
  text-align: center;
}

.notice {
  text-align: center;
}

html {
  min-height: 100%;
  @parent, body {
    font-family: $font-family-secondary;
  }
}

body {
  padding-top: 50px;
}


.row {
  padding-bottom: 1.3em;
}
