// Import
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/alerts';
// Body

$body-bg: #f5f8fa;
$primary-color: #687c99 ;
$secondary-color: #6c6899;
$tiernary-color: #689499;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: '/fonts/vendor/bootstrap-sass/bootstrap/';
$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Poppins", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$teal: #39cccc;
$teal-bg : #10c2c2;
$aqua: #7FDBFF;
$aqua-bg: #3bc0f5;
$nice-blue: rgba(#70c5e9, 0.88);
$orange: #f1b651;


// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-primary-bg: $teal;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Alert
$state-blue: #d8e5f0;
$alert-blue-bg: darken(adjust-hue($state-blue, -10), 5%) ;
$alert-blue-txt: white;
$state-orange: #f0e3d8;
$alert-orange-bg: darken(adjust-hue($state-orange, -10), 5%) ;
$alert-orange-txt: white;


.alert-blue {
  @include alert-variant($nice-blue, $alert-blue-bg, $alert-blue-txt);
}

.alert-orange {
  @include alert-variant($orange, $alert-blue-bg, $alert-blue-txt);
}
